.chat-body{
    background-color: rgba(19, 126, 19, 0.575);
}
.chat-header{
    display: flex;
    justify-content: center;
    margin: var(--main-padding);
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}
.chat-header a,.chat-header span,.chat-header div{
    color: black;
    width: 33%;
}
.chat-header span{
    display: flex;
    justify-content: center;
}
.chat-header > div >i{
    margin-left: 10px;
}
.chat-header div{
    display: flex;
    justify-content: flex-end;
}
.dates {
    display: flex;
    justify-content: center;
}
.date{
   width: 200px;
   height: 30px;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--main-green);
   color: white;
    font-size: 14px;
}

.message{
    display: flex;
    margin: 10px 20px;
}
.message img{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin-right: 10px;
}
.message>div{
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.message__name{
    font-weight: 600;
}
.message__text{
    background-color: white;
    padding: 10px 5px;
    border-radius: 15px;
    border-top-left-radius: 0px;
}
.message__texts{
    position: relative;
    display: flex;
}
.message__time{
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    right: -30px;
}
.message__texts2{
    justify-content: flex-end;
}
.message__text2{
    display: flex;
    border-radius: 15px;
}
.message__img__none{
    visibility: hidden;
}

.reply{
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 15px;
    background-color: white;
    align-items: center;
    box-sizing: border-box;
    padding-right: 35px;
}
.reply__row{
    font-size: 25px;
}
.reply__row:first-child{
    width: 10%;

}
.reply__row:last-child{
    width: 90%;
    position: relative;
  
}
.reply__input{
    width: 100%;
    padding: 8px;
    border-radius: 20px;
}
.reply__row:last-child > i, .reply__row:last-child button{
    position: absolute;
    right: -8px;
    top: 2px;
}
.reply__row:last-child button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: var(--main-green);
}
.reply__row:last-child > i {
    right: 35px;
    top: 6px;
  }
  .reply i {
    opacity: 0.5;
  }
  .reply__input:focus, .reply__input:active{
    outline: none;
  }